@charset "UTF-8";
/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

/* ===============================================
# カラー・フォントなどの変数設定
=============================================== */
/* ===============================================
# Mixin
=============================================== */
/* ===============================================
# ベース設定（html, body, main など）
=============================================== */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "YuMincho", "游明朝", "Yu Mincho", serif;
  color: #000;
  font-weight: 500;
  font-style: normal;
  background-color: #fff;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* ===============================================
# リンク・画像
=============================================== */
a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.ib-span {
  display: inline-block;
}

/* ===============================================
# セクション共通設定
=============================================== */
section[id] {
  scroll-margin-top: 50px;
}

/* ===============================================
# レイアウト共通
=============================================== */
.inner {
  max-width: 920px;
  margin: 0 auto;
  padding-inline: 20px;
}
@media (max-width: 768px) {
  .inner {
    max-width: 100%;
    padding-inline: 30px;
  }
}

#container {
  width: 100%;
  overflow: hidden;
}

/* ===============================================
# PC、SPの非表示
=============================================== */
.pc {
  display: inline;
}
@media (max-width: 767px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none !important;
}
@media (max-width: 767px) {
  .sp {
    display: block !important;
  }
}

/* ===============================================
# common-title/section
=============================================== */
.common-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.common-title h2 {
  font-size: 3rem;
  line-height: 1.1;
  color: #4D9600;
}
.section__subtitle {
  font-size: 2rem;
  margin-bottom: 6.8rem;
}
@media (max-width: 768px) {
  .section__subtitle {
    margin-bottom: 3.8rem;
  }
}

/* ===============================================
# header
=============================================== */
.header {
  width: 100%;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  padding-left: 8rem;
  padding-right: 6rem;
  top: 0;
  left: 0;
  z-index: 999;
}
@media (max-width: 768px) {
  .header {
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.header__site-title {
  font-size: 2rem;
  font-weight: 500;
  color: #FFF;
}

.header__logo-text {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
  color: #fff;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__nav-list li a {
  height: 3.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: #FFF;
  text-decoration: none;
}
.header__nav-list li a:hover {
  opacity: 0.4;
}

/* ===============================================
# fv
=============================================== */
.fv {
  position: relative;
}

.fv__contents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 33.9rem;
}
@media (max-width: 768px) {
  .fv__contents {
    padding-top: 21.9rem;
  }
}

.fv__copy {
  font-size: 4rem;
  line-height: 1.75;
  font-weight: 400;
  color: #fff;
  height: 1.75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: normal;
  padding-inline: 25.7rem;
  letter-spacing: 0.3em;
}
@media (max-width: 768px) {
  .fv__copy {
    font-size: 3rem;
    line-height: 2;
    width: 264px;
    height: 180px;
    padding-left: 56px;
  }
}

/* ===============================================
# about
=============================================== */
.about__items {
  position: relative;
}

.about__content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  padding-left: 15rem;
}
@media (max-width: 768px) {
  .about__content {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: mixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-inline: 1.6rem;
  }
}

.about__title {
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.18;
  padding-left: 6rem;
}
@media (max-width: 768px) {
  .about__title {
    position: relative;
    font-size: 2.5rem;
    line-height: 1.19;
    padding: 0;
    text-align: center;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    top: -83%;
    left: -60%;
  }
}

.about__text {
  font-size: 1.8rem;
  line-height: 3;
}
@media (max-width: 768px) {
  .about__text {
    font-size: 1.6rem;
    line-height: 1.25;
    display: block;
    margin: 0 auto;
    padding-top: 2.4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

/* ===============================================
# service
=============================================== */
.service {
  background: rgba(77, 150, 0, 0.102);
  padding-block: 8rem 10.7rem;
}
@media (max-width: 768px) {
  .service {
    padding-block: 5rem;
  }
}

.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media (max-width: 768px) {
  .service__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 36px;
  }
}

.service__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.service__item:not(:first-of-type) {
  margin-top: 8rem;
}
@media screen and (max-width: 767px) {
  .service__item:not(:first-of-type) {
    margin-top: 4rem;
  }
}

.service__img {
  width: 100%;
}

.service__img img {
  width: 100%;
  height: auto;
  aspect-ratio: 600/300;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .service__img img {
    aspect-ratio: 315/220;
  }
}

.service__caption {
  padding-top: 19px;
}
@media (max-width: 768px) {
  .service__caption {
    padding-top: 5px;
    text-align: left;
  }
}

.service__img-wrapper {
  width: 55%;
  z-index: 1;
  position: relative;
}

.service__content {
  width: 45%;
  background: #4D9600;
  color: #fff;
  padding-left: 20%;
  z-index: 1;
}
@media (max-width: 768px) {
  .service__content {
    position: static;
    text-align: left;
    width: 315px;
    height: 171px;
    margin-top: 6rem;
  }
}

.service__heading {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
}
@media (max-width: 768px) {
  .service__heading {
    font-size: 2rem;
    padding: 2rem 2rem 1.4rem 2rem;
  }
}

.service__text {
  font-size: 1.6rem;
}
@media (max-width: 768px) {
  .service__text {
    padding: 1.4rem 2rem;
  }
}

/* ===============================================
# works
=============================================== */
.works {
  background-color: #f5f5f5;
  font-size: 1.6rem;
  padding-block: 8rem 10.7rem;
}
@media (max-width: 768px) {
  .works {
    padding-block: 5rem 4.2rem;
  }
}

.works-sec_contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
@media (max-width: 768px) {
  .works-sec_contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    width: 315px;
    margin-top: 0.6rem;
  }
}

.works-sec__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 768px) {
  .works-sec__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 36px;
  }
}

.works__img {
  aspect-ratio: 200/200;
}
@media (max-width: 768px) {
  .works__img {
    aspect-ratio: 315/250;
  }
}

.works__body {
  text-align: center;
  margin-top: 19px;
}
.works__caption {
  font-size: 1.6rem;
  line-height: 1.56;
}
/* ===============================================
# NEWS
=============================================== */
.news {
  background-color: rgba(77, 150, 0, 0.102);
  padding-block: 8rem 10.7rem;
}
@media (max-width: 768px) {
  .news {
    padding-block: 5rem;
    margin-top: 5rem;
  }
}

.news__container-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media (max-width: 768px) {
  .news__container-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 3.8rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.news__box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  color: #fff;
  z-index: 999;
  min-width: 430px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 383px;
}
@media (max-width: 768px) {
  .news__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 315px;
    margin: 0 auto;
    min-width: auto;
  }
}

.news__box-title {
  background-color: #4D9600;
  font-size: 2rem;
  height: 50px;
  padding: 0.9rem 0 0 2rem;
}
@media (max-width: 768px) {
  .news__box-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.news__item {
  position: relative;
}
.news__item::before, .news__item::after {
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  background-color: #4D9600;
  margin: 0 auto;
}
.news__item::before {
  margin-bottom: 10px;
}
.news__item::after {
  margin-top: 10px;
}

.news__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
@media (max-width: 768px) {
  .news__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news__date {
  font-size: 1.6rem;
  line-height: 2.06;
  color: #000;
  padding-left: 2rem;
}
@media (max-width: 768px) {
  .news__date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news__text {
  font-size: 1.8rem;
  color: #000;
  padding: 3rem 2rem 1.3rem 6.8rem;
  line-height: 1.38;
}

.news__more {
  padding: 1.7rem 5.3rem 2rem 33rem;
  text-align: right;
}
@media (max-width: 768px) {
  .news__more {
    padding: 1.7rem 5.3rem 2.4rem 21.5rem;
  }
}

.more-link {
  display: inline-block;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.65;
  color: #4D9600;
  text-decoration: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.more-link:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

/* ===============================================
# 会社概要
=============================================== */
.company {
  background-color: #f5f5f5;
  font-size: 1.6rem;
  padding-block: 8rem 10.7rem;
}
@media (max-width: 768px) {
  .company {
    padding-block: 5rem 4.2rem;
  }
}

.company__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
}
@media (max-width: 768px) {
  .company__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}

.company__map {
  position: absolute;
  width: 50%;
  aspect-ratio: 600/400;
  margin-left: 0;
}
@media (max-width: 768px) {
  .company__map {
    position: relative;
    width: 100%;
  }
}

.company__map iframe {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .company__map iframe {
    aspect-ratio: 315/300;
  }
}

.access__content {
  background: #4D9600;
  color: #fff;
  width: 50%;
  height: 262px;
  margin-left: 8rem;
  padding: 4.9rem 0.5rem 4.2rem 22rem;
}
@media (max-width: 768px) {
  .access__content {
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding-left: 2rem;
  }
}

.access__name {
  font-size: 2rem;
  font-weight: 600;
}
.access__address {
  font-size: 1.6rem;
  font-weight: 600;
}
@media (max-width: 768px) {
  .access__address {
    line-height: 1.56;
  }
}

.access__tel {
  font-size: 1.6rem;
  font-weight: 600;
}
.access__tel span {
  font-weight: 400;
}
@media (max-width: 768px) {
  .access__tel span {
    font-size: 2.5rem;
    line-height: 1.56;
  }
}

@media (max-width: 768px) {
  .access__tel a:hover {
    opacity: 0.7;
  }
}

.access__email {
  font-size: 1.6rem;
  font-weight: 600;
}

/* ===============================================
# CONTACT
=============================================== */
.contact {
  background-color: rgba(77, 150, 0, 0.149);
  font-size: 1.6rem;
  padding-block: 8rem 3.5rem;
}
@media (max-width: 768px) {
  .contact {
    padding-block: 5rem 4.2rem;
  }
}

.contact__lead {
  font-size: 2rem;
}

.contact__item--name {
  font-size: 2rem;
}

.contact__radio-group {
  font-size: 2rem;
}

.contact__item--email {
  font-size: 2rem;
}

.contact__item--textarea {
  font-size: 2rem;
}

.contact__checkbox-group {
  font-size: 2rem;
}

.privacy__title {
  font-size: 2rem;
}

.contact__privafy-box {
  font-size: 1.8rem;
}

.contact__button {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  background-color: #4D9600;
  border: none;
  cursor: pointer;
  border: 1px solid #4D9600;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  width: 300px;
  height: 50px;
  padding-inline: 6.1rem 6rem;
}
@media (max-width: 768px) {
  .contact__button {
    width: 315px;
    height: 50px;
  }
}

.contact__button:hover {
  background-color: #fff;
  color: #4D9600;
}/*# sourceMappingURL=style.css.map */