@use './reset';
@use "sass:color";

/* ===============================================
# カラー・フォントなどの変数設定
=============================================== */
$main-color: #4D9600;
$section-bg-color: rgba(77, 150, 0, 0.102);
$contact-bg-color: rgba(77, 150, 0, 0.146); // コンタクト
$font-color: #fff;
$font-serif: "YuMincho", "游明朝", "Yu Mincho", "Hiragino Mincho Pro", "Hiragino Mincho ProN", "MS PMincho", serif;
$font-weight: 400;
$text-color: #000;
$placeholder-color: #A0A0A0;

/* ===============================================
# Mixin
=============================================== */
// sp時のみ適用
@mixin sp {
	@media (max-width: 767px) {
		@content;
	}
}

// PC時のみ適用
@mixin pc-only {
	@media (min-width: 768px) {
		@content;
	}
}

// 中間幅（768px〜1024px）専用
@mixin tab {
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		@content;
	}
}


// HTMLで使用されている `.pc-only` クラスのスタイル
.pc-only {
	display: none; // SPでは非表示

	@include pc-only {
		display: block; // PCでは表示（改行）
	}
}

// HTMLで使用されている.pcクラスのスタイル
.pc {
	display: block; // PCでは表示

	@include sp {
		display: none; // SPでは非表示
	}
}

// HTMLで使用されている.spクラスのスタイル
.sp {
	display: none; // PCでは非表示

	@include sp {
		display: block; // SPでは表示
	}
}



/* ===============================================
# ベース設定（html, body, main など）
=============================================== */

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: $font-serif;
	color: $text-color;
	font-weight: $font-weight;
	font-style: normal;
	background-color: #fff;
	padding-top: 0;
}

main {
	flex: 1;
}

/* ===============================================
# リンク・画像
=============================================== */
a {
	// color: $font-color;
	text-decoration: none;
	transition: color 0.3s ease;
}

img {
	width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}

.ib-span {
	display: inline-block;
}

/* ===============================================
# セクション共通設定
=============================================== */

section[id] {
	scroll-margin-top: 8rem;

	@include sp {
		scroll-margin-top: 5rem;
	}
}


/* ===============================================
# レイアウト共通
=============================================== */

.inner {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding-inline: 20px;

	@include sp {
		max-width: 100%;
		padding-inline: 30px;
	}
}

#container {
	width: 100%;
	overflow: hidden;
}


/* ===============================================
# common-title/section
=============================================== */

.common-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include sp {}

	&__en {
		font-size: 3.0rem;
		line-height: 1.1;
		color: $main-color;
		letter-spacing: 0.3em;
		// padding-left: 1rem;

		@include sp {}
	}

	&__jp {
		font-size: 2.0rem;
		letter-spacing: 0.3em;
		line-height: 1.65;
		margin-top: 0.6rem;
		// margin-left: 0.7rem;

		@include sp {}
	}
}


/* ===============================================
# header
=============================================== */

.header {
	width: 100%;
	height: 8rem;
	position: fixed;
	top: 0;
	z-index: 999;
	text-align: center;
	transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

	@include sp {
		height: 5rem;
		z-index: 1000;
		background-color: $font-color;
	}
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	max-width: 108rem;
	margin: 0 auto;
	padding-inline: 8rem;

	@media screen and (max-width: 1024px) {
		padding-inline: 2rem;
	}

	@include sp {
		padding-left: 2.0rem;
		padding-right: 2.0rem;
		padding-bottom: 0.5rem;
	}
}

.header__logo {
	display: flex;
	align-items: center;
	height: 100%;
}


.header__site-title {
	display: flex;
	height: 100%;
	white-space: nowrap;

	@include sp {}
}

.header__logo-link {
	display: flex;
	align-items: center;
	height: auto;
	font-style: normal;
	font-weight: $font-weight;
	color: $font-color;
	font-size: 2.0rem;
	line-height: 1.65;
	font-weight: 500;
	transition: opacity 0.4s, color 0.4s;
	transform: none;


	@include tab {
		font-size: 1.8rem;
	}

	&:hover {
		opacity: 0.5;
	}

	@include sp {
		margin-top: 0;
	}
}

.header__nav {
	height: 100%;
}

.header__nav-list {
	display: flex;
	column-gap: 3.1rem;
	height: 100%;
	list-style: none;
	margin: 0;
	align-items: center;

	@include tab {
		column-gap: 2.1rem;
	}

	@include sp {
		margin-left: 0;
	}
}

.header__nav-list li {
	height: 100%;
	display: flex;
	align-items: center;
}

.header__nav-list li a {
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 1.8rem;
	line-height: 1.833;
	font-weight: 500;
	color: $font-color;
	text-decoration: none;
	position: relative;

	@include tab {
		font-size: 1.6rem;
	}

	@include sp {
		font-size: 1.6rem;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 2.5rem;
		left: 0;
		width: 100%;
		height: 0.1rem;
		background-color: $font-color;
		/* ★デフォルトの下線の色（白） */
		transform: scaleX(0);
		transform-origin: center;
		transition: transform 0.5s ease-out;
	}

	&:hover {
		opacity: 0.5;
		color: $font-color;


		&::after {
			transform: scaleX(1);
			transform-origin: center;
		}
	}
}

// spナビゲゲーション

.header__nav-sp {
	display: none;

	@include sp {
		display: block;
		position: fixed;
		font-size: 1.8rem;
		font-weight: 500;
		top: 5rem;
		right: -100%;
		width: 80%;
		height: 34.8rem;
		background-color: $main-color;
		transition: right 0.3s ease;
		z-index: 1000;
		color: $text-color;

		&.is-open {
			right: 0;
		}
	}
}

.header__nav-sp-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
	padding: 0;

	a {
		display: block;
		font-size: 2.0rem;
		font-weight: 500;
		color: $font-color;
		text-decoration: none;
		padding: 1.2rem 1.5rem;
		text-align: left;

		&:hover {
			background-color: $text-color;
			color: $font-color;
		}
	}
}

// ハンバーガーメニュー
// PCでは非表示
.hamburger {
	display: none;

	@include sp {
		position: fixed;
		top: -0.1rem;
		right: 0;
		width: 7.2rem;
		height: 5.1rem;
		background: $font-color;
		z-index: 1001;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		cursor: pointer;
	}

	// ★ 三本線のスタイル
	.hamburger-line,
	.hamburger-line::before,
	.hamburger-line::after {
		position: absolute;
		width: 3.2rem;
		height: 0.4rem;
		left: 2rem;
		background: $main-color;
		border-radius: 0.2rem;
		transition: .3s;
	}

	// 中の線
	.hamburger-line {
		top: 50%;
		transform: translateY(-50%);
	}

	// 疑似要素の共通スタイル
	.hamburger-line::before,
	.hamburger-line::after {
		content: "";
		left: 0;
	}

	// 上の線
	.hamburger-line::before {
		top: 50%;
		transform: translateY(calc(-50% - 1.2rem));
	}

	// 下の線
	.hamburger-line::after {
		top: 50%;
		transform: translateY(calc(-50% + 1.2rem));
	}

	// メニューが開いた時のアニメーション
	&.is-open {
		.hamburger-line {
			background: transparent;
		}

		.hamburger-line::before {
			top: 50%;
			transform: translateY(-50%) rotate(45deg);
		}

		.hamburger-line::after {
			top: 50%;
			transform: translateY(-50%) rotate(-45deg);
		}
	}
}

.hamburger-bg {
	position: fixed;
	top: 0;
	right: 0;
	width: 0;
	height: 100vh;
	background-color: $text-color;
	opacity: 0; // 開いたときに0.6になる
	z-index: 999; // ナビゲーションの下に配置
	transition: opacity 0.3s ease, width 0.3s ease;
}

.hamburger-bg.is-open {
	width: 100vw;
	opacity: 0.6;
}



/* ===============================================
# fv
=============================================== */

.fv {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slick-dotted.slick-slider {
	margin-bottom: 0 !important;
}

.fv__catch {
	position: absolute;
	top: 51.39%;
	left: 50.5%;
	transform: translate(-50%, -50%);
	text-align: center;

	@include sp {
		top: 51.3%;
		left: 51.3%;
	}
}

.fv__copy {
	font-size: 4.0rem;
	line-height: 1.75;
	font-weight: 600;
	color: $font-color;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	letter-spacing: 0.3em;
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);

	@media screen and (max-width: 840px) {
		font-size: 3.5rem;
		line-height: 2;
	}

	@include sp {
		font-size: 3rem;
		letter-spacing: 0.3em;
	}
}

.sp-br {
	display: none;
}

@include sp {
	.sp-br {
		display: inline;
	}
}


.fv::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.15);
	z-index: 1;
}



/* ===============================================
# about
=============================================== */

.about__items {
	position: relative;
}

.about__content {
	position: absolute;
	top: 51%;
	left: 36%;
	transform: translate(-50%, -50%);
	letter-spacing: 0.7em;
	writing-mode: vertical-rl;
	white-space: nowrap;

	@include sp {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding-left: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		height: 100%;
	}
}

.about__title {
	font-size: 3.0rem;
	line-height: 1.18;
	margin-left: 4.2rem;
	letter-spacing: 0.18em;

	@include sp {
		margin-left: 0;
		margin-bottom: 0;
		display: flex;
		align-items: center;
		font-size: 2.5rem;
		line-height: 1.19;
		letter-spacing: 0.22em;
	}

	@media (max-width: 360px) {
		font-size: 2.3rem;
		letter-spacing: 0.15em;
	}
}

.about__text {
	font-size: 1.8rem;
	line-height: 2.66;
	letter-spacing: 0.4em;

	@include sp {
		font-size: 1.6rem;
		line-height: 1.6;
		padding-top: 2.2rem;
		letter-spacing: 0.24em;

		@media (max-width: 360px) {
			font-size: 1・3rem;
			letter-spacing: 0.20em;
		}
	}
}

/* ===============================================
# service
=============================================== */

.service {
	background: $section-bg-color;
	padding-block: 8rem;

	@include sp {
		padding-block: 5rem;
	}
}

.service__items {
	margin-top: 6.8rem;
	display: flex;
	flex-direction: column;
	row-gap: 8rem;

	@include sp {
		display: block;
		margin-top: 3.8rem;
	}
}

.service__item {
	display: flex;
	align-items: flex-end;

	@include sp {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

@media screen and (min-width: 768px) {
	.service__item:nth-child(even) {
		flex-direction: row-reverse;
	}
}


.service__img-wrapper {
	width: calc(600 / 920 * 100%);
	z-index: 2;
	position: relative;
	padding-bottom: 5.2rem;

	@include sp {
		margin: 0;
		width: 100%;
		padding-bottom: 0.6rem;
	}
}

.service__img {
	// width: 100%;
}

.service__caption {
	margin-top: 1.9rem;
	font-size: 1.6rem;

	@include sp {
		margin-top: 0.4rem;
		text-align: left;
	}
}

// 2枚目のキャプション
@media screen and (min-width: 768px) {
	.service__item:nth-child(2) .service__caption {
		text-align: right;
	}
}

.service__content {
	width: 45%;
	margin-left: calc(-180 / 920 * 100%);
	background: $main-color;
	color: $font-color;
	padding: 50px 9px 42px calc(220 / 920 * 100%);
	flex: 1;

	@include sp {
		text-align: left;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
		margin: 1px 0 51px;
		padding: 16px 20px 12px 20px;
	}
}

.service__heading {
	font-size: 2.5rem;
	line-height: 1.32;
	color: $font-color;
	font-weight: 600;

	@media screen and (max-width: 860px) {
		font-size: 2.3rem;
	}

	@include sp {
		font-size: 2.0rem;
		line-height: 1.25;
		white-space: nowrap;
		padding-top: 0.2rem;
	}
}

// heading改行の切り替え
.pc-only {
	display: inline;

	@include sp {
		display: none;
	}
}


.service__text {
	font-size: 1.6rem;
	line-height: 1.5625;
	margin-top: 1.7rem;
	white-space: nowrap;

	span {
		white-space: nowrap;

		@include tab {
			white-space: normal;
		}
	}

	@media screen and (max-width: 860px) {
		font-size: 1.4rem;
	}

	@include sp {
		font-size: 1.6rem;
	}
}

@media screen and (min-width: 768px) {
	.service__item:nth-child(even) .service__content {
		margin-right: calc(-180 / 920 * 100%);
		margin-left: 0;
		padding: 50px calc(220 / 920 * 100%) 42px 40px;
	}
}

// SPのとき、最後の
@include sp {
	.service__item:last-child .service__content {
		margin-bottom: 0;
	}
}


/* ===============================================
# works
=============================================== */

.works {
	background-color: $font-color;
	font-size: 1.6rem;
	padding-block: 8rem 9.7rem;

	@include sp {
		padding-block: 5rem 2rem;
	}
}

.works__contents {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: calc(40 / 920 * 100%);
	margin-top: 6.8rem;

	@include sp {
		grid-template-columns: 1fr;
		gap: 2.1rem;
		margin-top: 3.6rem;
		margin-bottom: 2.2rem;
	}
}

.works__item {
	display: flex;
	position: relative;
	flex-direction: column;

	@include sp {
		display: flex;
		text-align: center;
	}
}

.works__img {
	aspect-ratio: 200 / 200;
	
	@include sp {
		aspect-ratio: 315 / 250;
	}
}

.work-card {
	opacity: 1;
	transition: opacity 0.4s ease;
}

.work-card:hover {
	opacity: 0.7;
}

.works__body {
	text-align: left;
	margin-top: 1.9rem;

	@include sp {
		margin-top: 1rem;
	}
}

.works__caption {
	font-size: 1.6rem;
	line-height: 1.56;

	@include sp {}

	.pc {
		display: block;

		@include sp {
			display: none;
		}
	}

	.sp {
		display: none;

		@include sp {
			display: block;
		}
	}
}

.works__caption:hover {
	opacity: 0.7;
	cursor: pointer;
}

/*==================================================
// WORKSモーダル
==================================================*/
.modal-area {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99999;
	opacity: 0;
	padding: 2rem;
	visibility: hidden;
	transition: opacity .3s, visibility .3s;
}

.modal-area.is-active {
	opacity: 1;
	visibility: visible;
}

.modal__item {
	background: $font-color;
	top: 40%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%) scale(0.8);
	width: 50%;
	max-width: 450px;
	height: auto;
	padding: 15px 15px 6px 15px;
	z-index: 2;
	transition: transform .3s;

	@include sp {
		width: 80%;
	}
}

.modal-area.is-active .modal__item {
	transform: translate(-50%, -50%) scale(1);
}

.modal-bg {
	background: rgba(0, 0, 0, 0.502);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.modal__close {
	position: absolute;
	top: 2px;
	right: 2.79px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	cursor: pointer;
	text-align: center;
	font-size: 1.8rem;
	color: $text-color;
	z-index: 3;
}

.modal__content {
	img {
		max-width: 100%;
		height: auto;
		aspect-ratio: 420 / 220;

		@include sp {
			aspect-ratio: 274 / 144;
		}
	}

	p {
		margin-top: 9px;
		line-height: 1.5625;
		font-size: 1.6rem;
	}
}

.modal__content img {
	max-width: 100%;
	height: auto;
	display: block;
}


/* ===============================================
# NEWS
=============================================== */

.news {
	position: relative;
	z-index: 1;
	background-color: transparent;
	padding-block: 8rem;

	@include sp {
		padding-block: 5rem;
	}


	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $section-bg-color;
		background-attachment: fixed;
		z-index: -1;
	}
}

.news__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	gap: calc(60 / 920 * 100%);
	align-items: stretch;
	margin-top: 6.8rem;

	@include sp {
		grid-template-columns: 1fr;
		width: 100%;
		margin-top: 3.7rem;
		gap: 5rem;
	}
}

.news__box {
	justify-content: center;
	background: $font-color;
	color: $font-color;
	z-index: 2;
	width: 100%;
	margin: 0 auto;
	height: 100%;

	@include sp {
		display: flex;
		flex-direction: column;
	}
}

.news__box-title {
	background-color: $main-color;
	font-size: 2.0rem;
	height: 5.0rem;
	line-height: 5.0rem;
	padding-left: 2rem;


	@include sp {
		display: flex;
		flex-direction: column;
	}
}

.news__items {
	list-style: none;
	padding-inline: 2rem;
	padding-top: 1rem;
	padding-bottom: 1.5rem;
	list-style: none;

	@include sp {}

}

.news__item {
	width: 100%;
	height: 100%;
	padding-top: 1rem;
	padding-bottom: 1.1rem;
	border-bottom: 1px solid $main-color;


	@include sp {
		width: auto;
		height: auto;
		padding-bottom: 0.1rem;
	}
}


.news__item:first-child::before {
	content: none;
}


.news__link {
	display: flex;
	width: 100%;
	column-gap: calc(69 / 390 *100%);
	text-decoration: none;
	align-items: flex-start;
	transition: opacity 0.3s ease, color 0.3s ease;
	padding-top: 1rem;

	@include sp {
		padding-block: 1rem 1.1rem;
		column-gap: 1.9rem;
	}

	&:hover,
	&:focus {
		opacity: 0.7;
		color: color.adjust($text-color, $lightness: 30%);
	}

}

.news__date {
	font-size: 1.6rem;
	width: 5.3rem;
	color: $text-color;

	@include sp {
		flex-direction: column;
		line-height: 1.39;
		margin: 0;
	}
}

.news__text {
	font-size: 1.8rem;
	color: $text-color;
	line-height: 1.39;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;

	@include sp {
		line-height: 1.388;

	}
}

.news__more {
	text-align: right;
	margin-top: 3.5rem;

	@include sp {
		margin-top: auto;
		padding-top: 3.2rem;
	}
}

// moreアイコン
.more-link {
	display: inline-flex;
	align-items: center;
	position: relative;
	text-decoration: none;
	transition: transform 0.3s ease;
	font-weight: 600;
	font-size: 2.0rem;
	color: $main-color;
	line-height: 0;

	&:hover {
		transform: translateX(5px);
	}
}

.more-link span {
	padding-right: 3.4rem;

	@include sp {}
}


/* ===============================================
# COMPANY
=============================================== */

.company {
	background-color: #f5f5f5;
	font-size: 1.6rem;
	padding-block: 8rem;
	
	@include sp {
		padding-block: 5rem;
	}
}

.company__inner {
	display: flex;
	position: relative;
	align-items: flex-end;
	margin-top: 6.8rem;

	
	@include sp {
		flex-direction: column;
		margin-top: 3.8rem;
		padding-bottom: 0;
	}
}

.company__map {
	width: calc(600 / 920 * 100%);
	z-index: 99;
	position: relative;
	align-items: flex-start;
	padding-bottom: 6.2rem;
	
	@include tab {
		width: 100%;
	}

	@include sp {
		width: 100%;
		padding-bottom: 0;
	}
}

.company__map-media {           
	aspect-ratio: 600 / 400;     
	position: relative;
	
	@include sp {
		width: 100%;
		padding-bottom: 0;
		aspect-ratio: 315 / 300;
	}
  }

.company__map iframe {
	width: 100%;
	height: 100%;
	display: block;
	align-items: flex-start;
}

.access__content {
	background: $main-color;
	color: $font-color;
	width: calc(500 / 920 * 100%);
	margin-left: calc(-180 / 920 * 100%);
	z-index: 2;
	padding: 5.2rem 5rem 4.3rem calc(220 / 920 * 100%);


	@include sp {
		width: 100%;
		height: 202px;
		flex-direction: column;
		justify-content: center;
		box-sizing: border-box;
		display: block;
		margin: 2rem 0 auto;
		padding: 19px 20px 12px 20px;
	}
}


.access__name {
	font-size: 2.0rem;
	font-weight: 600;
	line-height: 1.65;
	white-space: nowrap;

	
	@include sp {
		padding-bottom: 0.9rem;
	}
}

.access__address {
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.56;
	margin-top: 0.8rem;
	white-space: nowrap;


	@include sp {
		line-height: 1.56;
		margin-top: 0;
	}
}

.access__tel {
	font-size: 1.6rem;
	font-weight: 600;
	margin-top: 0.2rem;
	line-height: 1.56;
	white-space: nowrap;

	@include sp {
		margin-top: 0.5rem;
	}
}

.access__tel a {
	font-size: 2.5rem;
	font-weight: 400;
	color: inherit;
	text-decoration: none;

	@include sp {
		opacity: 0.7;
	}
}


.access__tel a:hover {
	@include sp {
		opacity: 0.7;
	}
}

.access__email {
	font-size: 1.6rem;
	font-weight: 600;
	margin-top: 1.3rem;
	cursor: pointer;

	 @media screen and (max-width: 860px) and (min-width: 768px) {
	 	font-size: 1.5rem;
	 }

	@include sp {
		margin-top: 1.1rem;
	}

	&:hover {
		opacity: 0.7;
	}
}

/* ===============================================
# CONTACT
=============================================== */

.contact {
	background-color: rgba(77, 150, 0, 0.149);
	font-size: 1.6rem;
	padding-block: 8rem;

	@include sp {
		padding-block: 5rem;
	}
}

.contact__inner {
	max-width: 84rem;
	margin: 0 auto;

}

// ==============================
// カスタムラジオ・チェックボックス
// ==============================
// 性別

.contact__radio-group {
	font-size: 2.0rem;
	display: flex;
	gap: 7.4rem;
	padding-top: 1.4rem;

	@include sp {
		flex-wrap: wrap;
		gap: 3rem;
		padding-left: 4.8rem;
	}

	@media screen and (max-width: 330px) {
		padding-left: 2rem;
	}

	label {
		position: relative;
		padding-left: 4rem;
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		line-height: 1.38;
		font-size: 1.8rem;

		input {
			display: none;
		}

		/* カスタムラジオボタンの丸 */
		span {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 18px;
			height: 18px;
			border-radius: 50%;
			background-color: #fff;
		}

		/* 選択されたときの中の● */
		input:checked+span::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 0.6rem;
			height: 0.6rem;
			background-color: $text-color;
			border-radius: 50%;
		}
	}
}


// アンケートチェックボックス
.contact__checkbox-group {
	display: grid;
	font-size: 1.8rem;
	line-height: 1.388;
	column-gap: 3.5rem;
	row-gap: 1.3rem;
	grid-template-columns: repeat(4, 1fr);
	justify-items: start;
	margin-right: 2.9rem;


	@media screen and (max-width: 840px) {
		font-size: 1.6rem;

	}

	@include sp {
		width: 100%;
		font-size: 1.6rem;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 0.7rem;
		column-gap: 0.2rem;
		margin-bottom: 2.1rem;
		margin-right: 0;
	}

	label {
		position: relative;
		padding-left: calc(1.2rem + 2rem);
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		padding-top: 0.2rem;

		@include sp {
			padding-left: 2.4rem;
			white-space: nowrap;
			padding-top: 0rem;
		}

		input {
			display: none;
		}

		label span {
			position: relative;
			font-size: 1.8rem;
			line-height: 1.388;
			top: 50%;
			left: -1px;
			transform: translateY(-50%);
			width: 20px;
			height: 20px;
			background-color: $font-color;
			margin-right: 2rem;

			@include sp {
				top: 35%;
				left: 0px;
				transform: translateY(-50%);
			}
		}

		input:checked+span::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 10px;
			height: 6px;
			border-left: 2px solid $text-color;
			border-bottom: 2px solid $text-color;
			transform: translate(-50%, -60%) rotate(-45deg);
		}
	}
}

.custom-checkbox-square {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background-color: $font-color;
	border: 1px solid #fff;

	@include sp {
		top: 35%;
		left: 0;
	}

}

.checkbox-text {
	font-size: 1.8rem;
	color: $text-color;
	margin-left: 0.5rem;
	line-height: 1.388;
	letter-spacing: 0.1rem;
	white-space: nowrap;

	@include sp {
		font-size: 1.6rem;
		transform: translateY(-0.3rem);
		letter-spacing: 0;
	}
}


// # プレースホルダー色
.contact__input::placeholder,
.contact__textarea::placeholder,
.contact__select::placeholder {
	color: $placeholder-color;
}


.contact__lead {
	font-size: 2.0rem;
	margin-top: 3.6rem;
	margin-bottom: 7rem;

	@include sp {
		padding-inline: 0rem;
		margin-block: 3.8rem 3.7rem;
		margin-left: 0;
	}
}

.contact__form {
	max-width: 80rem;
	margin: 0 auto;
}

.contact__items {
	font-size: 2.0rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	@include sp {}
}

.contact__item {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 1.1rem;


	@include sp {
		flex-direction: column;
		align-items: flex-start;
		gap: 0;
	}
}

// コンタクトアイテム個別
.contact__item--name {

	@include sp {
		display: flex;
	}
}

// コンタクトアイテム個別
.contact__item--gender {
	margin-top: 4.2rem;

	@include sp {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		margin-top: 1.8rem;
	}
}

// コンタクトアイテム個別
.contact__item--email {
	font-size: 2.0rem;
	margin-top: 4.8rem;

	@include sp {
		margin-top: 2rem;
	}
}

// コンタクトアイテム個別
.contact__item--type {
	display: flex;
	margin-top: 5rem;

	@include sp {
		margin-top: 2rem;
	}
}

// コンタクトアイテム個別
.contact__item--message {
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
	margin-top: 4.1rem;

	@include sp {
		margin-top: 2rem;
		gap: 0;
	}
}

//アンケート
.contact__item--survey {
	margin-top: 3.1rem;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
	width: auto;

	@include sp {
		align-items: flex-start;
		gap: 0;
		margin-top: 0.7rem;
		line-height: initial;
	}
}

// アンケートのみ
.contact__item--survey .contact__title {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	width: auto;

	@include tab {
		white-space: nowrap;
	}

	@include sp {
		line-height: 1.35;
	}
}


.title-label.check-title {
	white-space: normal;
	line-height: 1.6;

	@include sp {
		white-space: normal;
		line-height: 1.35;
	}
}


// 個人情報
.contact__item--privacy {
	flex-direction: column;
	align-items: stretch;
	gap: 1.2rem;
	margin-top: 4rem;

	@include sp {
		margin-top: 0;
		gap: 0;
	}
}

.scroll-container {
	width: 100%;
	max-width: 800px;
	height: 300px;
	padding: 0;
	background-color: $font-color;
	box-sizing: border-box;
	--simplebar-scrollbar-thickness: 10px;
	--simplebar-track-thickness: 10px;
	min-height: 300px;


	@include sp {
		height: 323px;
	}
}

.scroll-inner {
	display: block;
	width: 100%;
	padding: 3.7rem 6rem 4rem 4rem;

	@include sp {
		padding: 3rem 5rem 2.8rem 3rem;
	}
}

/* SimpleBarの見た目 */
.simplebar-track.simplebar-vertical {
	background: #E3E3E3;
	border-radius: 0;
	top: 10px;
	bottom: 10px;
	right: 10px;

	@include sp {
		bottom: 23px;
	}
}

.simplebar-scrollbar::before {
	background: #9B9B9B;
	border-radius: 0;
	height: 30px;
	top: 0px;
	right: 0px;
	left: 0px;
}

/* 本文 */
.privacy-content {
	display: block;
	position: relative;
	font-size: 1.8rem;
	line-height: 1.72222;
	background-color: $font-color;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;

	>* {
		margin: 0;
	}

	>*+* {
		margin-top: 1rem;
	}

	h3 {
		margin-top: .4rem;
		margin-bottom: 0rem;
	}

	p {
		margin-top: 0rem;
		margin-bottom: 2.2rem;
	}

	@include sp {
		font-size: 1.6rem;
		line-height: 2.0625;

		h3 {
			margin-top: 0rem;
			margin-bottom: 0rem;
		}

		p {
			margin-bottom: 3rem;
		}

	}
}


/* プライバシー欄の箇条書き */
.privacy-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.privacy-content li {
	position: relative;
	padding-left: 1.2em;
}

.privacy-content li::before {
	content: "・";
	position: absolute;
	left: 0;
	top: 0.1em;
	font-size: 1em;
	font-weight: 700;
}


// 送信ボタン
.contact__submit {
	text-align: center;
	margin-top: 7.8rem;

	@include sp {
		width: 100%;
		margin-inline: auto;
		margin-top: 4.9rem;
	}
}

.contact__button {
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 0;
	font-size: 2.0rem;
	font-weight: 600;
	color: $font-color;
	background-color: $main-color;
	border: none;
	cursor: pointer;
	border: 1px solid $main-color;
	transition: background-color 0.3s, color 0.3s;
	width: 100%;
	max-width: 30rem;
	height: 5rem;
	line-height: 1.65;

	@include sp {
		max-width: 31.5rem;
	}
}

.contact__button:hover {
	background-color: $font-color;
	color: $main-color;
}

.contact__title {
	width: 16rem;

	@include sp {
		width: auto;
	}
}

.contact__content {
	flex: 1;
	min-width: 0;

	@include sp {
		width: 100%;
	}
}

.contact__label {
	display: inline-block;
	line-height: 1.65;
	font-size: 2rem;
	position: relative;
	margin-top: 1rem;
	cursor: default;

	@include sp {
		text-align: left;
		width: auto;
	}
}

// 問い合わせ種別

/* ▼ラッパーと三角 */
.select-container {
	position: relative;
	display: block;
	cursor: pointer;
	width: 100%;
}

.select-container::after {
	content: "";
	position: absolute;
	right: 2rem;
	top: 54%;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-top: 1.2rem solid $main-color;
	pointer-events: none;
}


.contact__select {
	width: 100%;
	flex: 1;
	height: 5rem;
	padding: 1.7rem 4.66rem 1.2rem 2rem;
	font-size: 1.8rem;
	background-color: $font-color;
	appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	box-sizing: border-box;

	@include sp {
		width: 100%;
		flex: 1;
		max-width: none;
		margin: 0;
		font-size: 1.6rem;
		padding-top: 1.5rem;
		-webkit-appearance: none;
		appearance: none;
	}
}

.contact__input {
	width: 100%;
	flex-grow: 1;
	height: 5rem;
	font-size: 1.6rem;
	background-color: $font-color;
	gap: 8rem;
	line-height: 1.8;
	padding-block: 1.2rem;
	padding-inline: 1.9rem;
	resize: none;
	margin-left: 0;

	@include sp {
		width: 100%;
		margin: 0;
	}
}

.contact__textarea {
	width: 100%;
	min-height: 20rem;
	padding: 1.5rem 2rem;
	font-size: 1.8rem;
	background-color: $font-color;
	line-height: 1.7;
	overflow-wrap: anywhere;
	resize: vertical;


	@include sp {
		margin: 0 auto;
		flex: unset;
		margin-top: 0.2rem;
	}
}

.privacy__title {
	font-size: 2rem;
}


/* ===============================================
# footer
=============================================== */

.footer {
	text-align: center;
	padding-top: 8rem;

	@include sp {
		padding-top: 5rem;
	}
}

.footer__logo {

	text-align: center;
	color: #000;
	line-height: 1.65;
}


.logo__text {
	font-size: 2.0rem;
	text-align: center;
	color: #000;
	line-height: 1.65;
	display: inline-block;
	transition: opacity 0.4s ease;

	@include sp {
		padding: 0;
	}
}

.logo__text:hover {
	opacity: 0.5;
	cursor: pointer;
}


.footer__line {
	width: 100%;
	max-width: 722px;
	height: 1px;
	background-color: #000;
	margin: 2.6rem auto;

	@include sp {
		margin-top: 1.8rem;
		margin-bottom: 0;
	}

}

.footer__nav {
	padding-top: 0.6rem;
	padding-bottom: 2.8rem;

	@include sp {
		padding-top: 2.3rem;
		padding-bottom: 2.5rem;
	}
}

.footer__nav-list {
	font-size: 1.8rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5.1rem;
	list-style: none;

	@include sp {
		align-items: center;
		column-gap: 3.1rem;
		row-gap: 1rem;
		padding: 0;
		margin: 0;
		list-style: none;
	}
}

.footer__nav-list a {
	color: $text-color;
	transition: opacity 0.4s ease;
}

.footer__nav-list a:hover {
	opacity: 0.5;
	cursor: pointer;
}

.footer__bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 8rem;

	@include sp {
		padding-bottom: 5.1rem;
	}
}

.footer__sns {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3.1rem;
}

.footer__sns a {
	transition: opacity 0.4s ease;
}

.footer__sns a:hover {
	opacity: 0.7;
	cursor: pointer;
}

.footer__sns a img {
	transition: opacity 0.4s ease, transform 0.4s ease;
	opacity: 1;
	transform: scale(1);
}

.footer__sns a:hover img {
	opacity: 0.7;
	transform: scale(1.05);
}

.footer__copyright {
	background: $main-color;
	color: $font-color;
	font-size: 2.0rem;
	line-height: 1.65;
	display: flex;
	text-align: center;
	justify-content: center;
	padding-block: 3rem 2.9rem;
	width: 100%;
	margin-top: 8rem;

	@include sp {
		padding-block: 2.1rem;
		padding-inline: 3rem;
		line-height: 1.25;
		margin-top: 5.2rem;
	}
}

/* ===============================================
TOPへ戻るボタン
=============================================== */
.page-top-btn {
	position: fixed;
	right: 6rem;
	bottom: 6rem;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	transform: translateY(20px);
	background-color: $main-color;
	transition: 0.5s;
	width: 6.8rem;
	height: 6.8rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	clip-path: circle(50% at 50% 50%);
	overflow: hidden;
	-webkit-clip-path: circle(50% at 50% 50%);
	transition: transform 0.3s, opacity 0.3s;

	@include sp {
		right: 2rem;
		bottom: 6rem;
		width: 5rem;
		height: 5rem;
	}

	// ホバー時のスタイル
	&:hover {
		opacity: 0.8;
		transform: translateY(-0.5rem);


		img {
			transition: none;
			transform: none;
		}
	}

	img {
		position: static;
		transform: none;

		@include sp {}
	}
}

// スクロール時に表示するためのクラス
.is-show {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.is-modal-open .page-top-btn {
	display: none;
}