@use './reset';

/* ===============================================
# カラー・フォントなどの変数設定
=============================================== */
$main-color: #4D9600;
$section-bg-color: rgba(77, 150, 0, 0.102);
$contact-bg-color: rgba(77, 150, 0, 0.146); // コンタクト
$font-color: #fff;
$font-serif: "YuMincho", "游明朝", "Yu Mincho", serif;
$font-weight: 500;
$text-color: #000;

/* ===============================================
# Mixin
=============================================== */
@mixin sp {
	@media (max-width: 768px) {
		@content;
	}
}

/* ===============================================
# ベース設定（html, body, main など）
=============================================== */

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: $font-serif;
	color: $text-color;
	font-weight: $font-weight;
	font-style: normal;
	background-color: #fff;

}

main {
	flex: 1;
}

/* ===============================================
# リンク・画像
=============================================== */
a {
	color: $font-color;
	text-decoration: none;
	transition: color 0.3s ease;
}

img {
	width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}

.ib-span {
	display: inline-block;
}

/* ===============================================
# セクション共通設定
=============================================== */

section[id] {
	scroll-margin-top: 50px;
}

// .section-bg {
// 	background: $section-bg-color;
// }

/* ===============================================
# レイアウト共通
=============================================== */

.inner {
	max-width: 920px;
	margin: 0 auto;
	padding-inline: 20px;

	@include sp {
		max-width: 100%;
		padding-inline: 30px;
	}
}

#container {
	width: 100%;
	overflow: hidden;
}

/* ===============================================
# PC、SPの非表示
=============================================== */

.pc {
	display: inline;

	@media (max-width: 767px) {
		display: none;
	}
}

.sp {
	display: none !important;

	@media (max-width: 767px) {
		display: block !important;
	}
}

/* ===============================================
# common-title
=============================================== */

.common-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include sp {}

}

.common-title h2 {
	font-size: 3.0rem;
	line-height: 1.1;
	color: $main-color;

	@include sp {}
}


.section__subtitle {
	font-size: 2.0rem;
	padding-top: calc(6 / 1080 * 100vw);
	margin-bottom: calc(68 / 1080 * 100vw);


}

/* ===============================================
# header
=============================================== */

.header {
	width: 100%;
	height: 8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	// line-height: 1.65;
	position: fixed;
	padding-inline: calc(80/ 1080 * 100vw) calc(60/ 1080 * 100vw);
	top: 0;
	left: 0;
	z-index: 999;

	@media screen and (max-width: 767px) {
		padding: 8px 0 0 20px;

	}
}


.header__site-title {
	font-size: 2.0rem;
	font-weight: 500;
	color: #FFF;
}

.header__logo-text {
	font-style: normal;
	font-weight: 500;
	font-size: 2.0rem;
	line-height: 1.65;
	color: $font-color;

	@media screen and (max-width: 767px) {}
}

.header__nav-list {
	display: flex;
	column-gap: 30px;
	list-style: none;
	padding: 0;
	margin: 0;

	li a {
		height: 3.3rem;
		display: flex;
		align-items: center;
		font-size: 1.8rem;
		font-weight: 500;
		color: #FFF;
		text-decoration: none;

		&:hover {
			opacity: 0.4;
		}
	}
}

/* ===============================================
# fv
=============================================== */

.fv {
	position: relative;
}

.fv__contents {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: calc(339 / 1080 * 100vw);

	@include sp {
		padding-top: 219px;
	}
}

.fv__copy {
	font-size: 4.0rem;
	line-height: 1.75;
	font-weight: 400;
	color: #FFF;
	// width: calc(567 / 1080 * 100vw);
	height: calc(140 / 1080 * 100vw);
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: normal;
	padding-inline: calc(257 / 1080 * 100vw);
	letter-spacing: 0.3em;



	@include sp {
		font-size: 3.0rem;
		line-height: 2;
		width: 264px;
		height: 180px;
		padding-left: 56px;
	}
}

/* ===============================================
# about
=============================================== */

.about__items {
	position: relative;
}

.about__content {
	// background-color: #4D9600;
	position: absolute;
	top: 50%;
	// left: 50%;
	transform: translateY(-50%);
	writing-mode: vertical-rl;
	text-orientation: mixed;
	padding-left: calc(150 / 1080 * 100vw);

	@include sp {
		writing-mode: vertical-rl;
		text-orientation: mixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-inline: 16px;
	}
}

.about__title {
	font-weight: $font-weight;
	font-size: 3.0rem;
	line-height: 1.18;
	padding-left: 60px;

	@include sp {
		position: relative;
		font-size: 2.5rem;
		line-height: 1.19;
		padding: 0;
		text-align: center;
		order: -1;
		top: -83%;
		left: -60%
	}
}

.about__text {
	font-size: 1.8rem;
	line-height: 3.0;

	@include sp {
		font-size: 1.6rem;
		line-height: 1.25;
		display: block;
		margin: 0 auto;
		padding-top: 24px;
		flex-direction: column;
		justify-content: flex-end;
	}
}

/* ===============================================
# service
=============================================== */

.service {
	background: $section-bg-color;
	padding-block: calc(80/ 1080 * 100vw);


	@include sp {
		padding-block: 50px;
	}
}

.service__items {

	@include sp {
		margin-top: 38px;
	}
}

.service__item {
	display: flex;
	position: relative;
	// column-gap: calc(45 / 1080 * 100%);

	@include sp {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 36px;
	}
}

.service__item:nth-of-type(even) {
	flex-direction: row-reverse;
}

.service__item:not(:first-of-type) {
	margin-top: 80px;

	@media screen and (max-width: 767px) {
		margin-top: 40px;
	}
}

.service__img {
	position: relative;
	width: 60%;
	z-index: 2;
	flex-shrink: 0;

	@include sp {
		width: 100%;
	}
}

.service__img img {
	width: 100%;
	height: auto;
	aspect-ratio: 600 / 300;
	object-fit: cover;

	@include sp {
		aspect-ratio: 315 / 220;

	}
}

.service__caption {
	padding-top: 19px;

	@include sp {
		padding-top: 5px;
		text-align: left;
	}
}

.service__img-wrapper {
	position: relative;
}

.service__content {
	position: absolute;
	top: 35px;
	left: 334px;
	background: $main-color;
	color: $font-color;
	width: 500px;
	height: 250px;
	// padding: 50px 0 42px 20px;
	z-index: 1;

	@include sp {
		position: static;
		text-align: left;
		width: 315px;
		height: 171px;
		margin-top: 6px;
	}
}

.service__heading {
	padding: 50px 0 42px 220px;
	font-size: 2.5rem;
	color: $font-color;
	font-weight: 600;

	@include sp {
		font-size: 2.0rem;
		padding: 20px 20px 14px 20px;
	}
}

.service__text {
	font-size: 1.6rem;
	padding-inline: 220px 5px;

	@include sp {
		padding: 14px 20px 14px 20px;
	}
}


/* ===============================================
# works
=============================================== */

.works {
	background-color: #f5f5f5;
	font-size: 1.6rem;
	padding: calc(80 / 1080 * 100vw) calc(97 / 1080 * 100vw);

	@include sp {
		padding-block: 50px 42px;
	}
}

.works-sec_contents {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;

	@include sp {
		display: flex;
		flex-direction: column;
		text-align: left;
		width: 315px;
		height: 250px;
		margin-top: 6px;
	}
}

.works-sec__item {
	display: flex;
	position: relative;
	flex-direction: column;
	// column-gap: calc(45 / 1080 * 100%);

	@include sp {
		display: flex;
		align-items: center;
		text-align: center;
		gap: 36px;
	}
}

.works__img {
	aspect-ratio: 200 / 200;
	// width: 100%;

	@include sp {
		aspect-ratio: 315 / 250;
	}
}

.works__body {
	text-align: center;
	margin-top: 19px;

	@include sp {}

}

.works__caption {
	font-size: 1.6rem;
	line-height: 1.56;

	@include sp {}
}

.works__item {}

/* ===============================================
# NEWS
=============================================== */

.news {
	background-color: $section-bg-color;
	padding-block: calc(80/ 1080 * 100vw);

	@include sp {
		padding: 50px;
	}
}

.news__container-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 60px;
	align-items: stretch;
	// margin-top: 68px;

	// padding-top: 220px ;
	@include sp {
		flex-direction: column;
	}
}

.news__box {
	justify-content: center;
	background: #fff;
	color: $font-color;
	z-index: 999;
	min-width: 430px;
	flex: 1;
	min-height: 383px;

}

.news__box--info {}

.news__box-title {
	background-color: $main-color;
	font-size: 2.0rem;
	height: 50px;
	padding: 9px 0 0 20px;

}

.news__items {
	list-style: none;
	padding: 0;
	margin: 0;

}

.news__item {
	position: relative;

	&::before,
	&::after {
		content: "";
		display: block;
		width: 90%;
		height: 1px;
		background-color: $main-color;
		margin: 0 auto;
	}

	&::before {
		margin-bottom: 10px;
	}

	&::after {
		margin-top: 10px;
	}
}



.news__link {
	display: flex;
	align-items: center;
	// gap: 24px;
	text-decoration: none;

}

.news__date {
	font-size: 1.6rem;
	line-height: 2.06;
	color: $text-color;
	padding-left: 20px;
}

.news__text {
	font-size: 1.8rem;
	color: $text-color;
	padding: 30px 20px 13px 68px;
	line-height: 1.38;
}

.news__more {
	padding: 17px 53px 20px 330px;
	text-align: right;
}

.more-link {
	display: inline-block;
	font-weight: 600;
	font-size: 2.0rem;
	line-height: 1.65;
	color: $main-color;
	text-decoration: none;
	transition: transform 0.3s ease;

	&:hover {
		transform: translateX(5px);
	}
}

/* ===============================================
# 会社概要
=============================================== */

.company {
	background-color: #f5f5f5;
	font-size: 1.6rem;
	padding-block: calc(80/ 1080 * 100vw);

	@include sp {
		padding-block: 50px 42px;
	}
}



.company__inner {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;

	@include sp {
		flex-direction: column;
		align-items: center;
	}
}

.company__map {
	position: absolute;
	aspect-ratio: 600 / 400;
	width: 50%;
	margin-left: 0;

	@include sp {
		width: 100%;
	}
}

.access__content {
	background: $main-color;
	color: $font-color;
	width: 50%;
	height: 262px;
	margin-left: calc(80 / 1080 * 100vw);
	padding: calc(49 / 1080 * 100vw) calc(5 / 1080 * 100vw) calc(42 / 1080 * 100vw) calc(220 / 1080 * 100vw);
}

.access__name {
	font-size: 2.0rem;
	font-weight: 600;
}

.access__address {
	font-size: 1.6rem;
	font-weight: 600;
}


.access__tel {
	font-size: 1.6rem;
	font-weight: 600;
}

.access__tel span {
	font-weight: 400;
}

.access__email {
	font-size: 1.6rem;
	font-weight: 600;
}


/* ===============================================
# CONTACT
=============================================== */

.contact {
	background-color: #f5f5f5;
	font-size: 1.6rem;
	padding-block: calc(80/ 1080 * 100vw);

	@include sp {
		padding-block: 50px 42px;
	}
}